<%-include("../partials/header.ejs") %>
        
<div class="main-content side-content pt-0">
    <div class="main-container container-fluid">
        <div class="inner-body">
            <div id="mobileshow" class="see"></div>
            <div class="sees hide-mobile"></div>
            <div class="mb-5">
                <h4 class="fw-bold text-white">Trading Bots</h4>
                <p class="mb-0">Purchasing our Trading Bot can help you streamline your trading strategy and potentially
                    maximize your profits. Our Trading Bot is designed to analyze market trends and execute trades based
                    on pre-programmed rules and parameters. With our Trading Bot, you can take emotion out of the
                    equation and let the bot execute trades with speed and precision. Our Trading Bot is fully
                    customizable, allowing you to set your own parameters and tailor your trading strategy to meet your
                    unique needs. Plus, our expert support team is always available to answer any questions you may
                    have. Purchase our Trading Bot today and start automating your trades for optimal results!</p>
            </div>
            

            <!--Row-->
            <div class="row row-sm">
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/crypto_trading_robot-min.jpeg" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    3COMMAS</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$750</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">20%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">25</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">15</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                 <input type="hidden" name="amount" value="750">
                                <input type="hidden" name="botsub_id" value="3COMMAS">
                                <button type="submit" class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/Trading-bots.jpg" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    PIONEX</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$1150</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">25%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">35</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">25</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                 <input type="hidden" name="amount" value="1150">
                                <input type="hidden" name="botsub_id" value="PIONEX">
                                <button type="submit" class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/bot.jpg" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    TRALITY</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$2360</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">30%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">45</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">35</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                 <input type="hidden" name="amount" value="2360">
                                <input type="hidden" name="botsub_id" value="TRALITY">
                                <button type="submit" name="purchase_bot"                                     class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/omatelooking.jpg" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    NAGA</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$4123</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">49%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">55</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">45</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                 <input type="hidden" name="amount" value="4123">
                                <input type="hidden" name="botsub_id" value="NAGA">
                                <button type="submit" name="purchase_bot"                                     class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/6471f2b7f207165.png" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    TRADESANTA</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$6115</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">63%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">65</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">55</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                 <input type="hidden" name="amount" value="6115">
                                <input type="hidden" name="botsub_id" value="TRADESANTA">
                                <button type="submit" name="purchase_bot"                                     class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card custom-card bgd-svg2" style="min-height: 150px;">
                        <div class="card-body">
                            <div class="rounded-profile mx-auto">
                                <img src="main/assets/img/profile/647760c0ab09b33.png" alt=""
                                    style="width: 100%;">
                            </div>
                            <div class="mt-2">
                                <p class="text-white fw-bold mb-0 fs-3 text-uppercase text-center">
                                    OKX</p>
                                <div class="row mt-1">
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">AMOUNT</p>
                                            <p class="mb-0 fw-bold fs-5">$9998</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">BOT LEVEL</p>
                                            <p class="mb-0 fw-bold fs-5">80%</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">WIN RATE</p>
                                            <p class="mb-0 fw-bold fs-5">75</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 g-2">
                                        <div class="rounded-3 p-2 border border-primary border-2 shadow-sm">
                                            <p class="mb-0 text-light fs-7">PROFIT RATE</p>
                                            <p class="mb-0 fw-bold fs-5">85</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="#">
                                <input type="hidden" name="botsub_id" value="OKX">
                                <input type="hidden" name="amount" value="9998">
                                <button type="submit" class="btn btn-primary fw-bold mt-4 w-100">Purchase</button>
                            </form>
                        </div>
                    </div>
                </div>
                            </div>
            <!--End row-->
        </div>
    </div>
</div>
                                           

                                           

<br><br><br><br>


   
 <%-include('../partials/footer')%>