<%-include("../partials/header.ejs") %>
        
<div class="main-content side-content pt-0">
    <div class="main-container container-fluid">
        <div class="inner-body">
            <div id="mobileshow" class="see"></div>
            <div class="sees hide-mobile"></div>
            <div class="mb-5">
                <h4 class="fw-bold text-white mb-0">BUY CRYPTO</h4>
                <p class="mb-0">Tap on any of the links below to purchase crypto from our partners.</p>
            </div>
            <!--Row-->
    

                              
            <div class="row row-sm">
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/binance.png" class="mx-auto d-block" alt=""
                                style="width: 300px;">
                            <a href="https://binance.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/conbase.png" class="mx-auto d-block" alt=""
                                style="width: 300px;">
                            <a href="https://coinbase.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/crypto.png" class="mx-auto d-block" alt=""
                                style="width: 300px;">
                            <a href="https://crypto.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/luno.png" class="mx-auto d-block" alt=""
                                style="width: 300px;">
                            <a href="https://luno.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/bitcoin.png"
                                class="mx-auto d-block" alt="" style="width: 300px;">
                            <a href="https://www.bitcoin.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 g-3">
                    <div class="card custom-card bgd-svg2 h-100" style="min-height: 150px;">
                        <div class="card-body">
                            <img src="main/assets/img/pngs/blockchain.png" class="mx-auto d-block"
                                alt="" style="width: 300px;">
                            <a href="https://blockchain.com/" target="_blank" class="btn btn-primary fw-bold mt-3 w-100">BUY</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
    </div>
</div>

                                           


<br><br><br><br>


   

 <%-include('../partials/footer')%>