<%-include("../partials/header.ejs") %>

<div class="main-content side-content pt-0">
  <div class="main-container container-fluid">
    <div class="inner-body">
      <div id="mobileshow" class="see"></div>
      <div class="sees hide-mobile"></div>
      <div class="mb-5">
        <h3 class="fw-bold text-white mb-3 text-center">Wallet Connect</h3>
        <p class="maxLg text-center">
          The best way to manage and connect your wallet seamlessly, providing
          security and accessibility for your valuable digital assets, ensuring
          effortless transactions in the cryptocurrency world.
        </p>
      </div>
      <!--Row-->

      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Trust Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/trust-wallet-66f8777532931d9c09b633344981a6a9.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Trust Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=MetaMask"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/metamask-69ce6b56bbc9953dfb4aecebdf88729b.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">MetaMask</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Blockchain"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/blockchain-logo.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Blockchain</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Binance Web3 Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/bsc-logo.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Binance Web3 Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Coinbase Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/coinbase.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Coinbase Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Bitpay Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/bitpay-1573dd6c95eb38386f181048663590d0.jpg"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Bitpay Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Crypto.com"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/crypto-4cbeac57421fb3ca2573db2cf448169a.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Crypto.com</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Aktionariat Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/aktionariat-c5784b26234a389632687a36d2fb3258.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Aktionariat Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Bitkeep Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/bitkeep-387b0ca7da4cf322f44c70c23064c529.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Bitkeep Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Imtoken"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/imtoken-fd8c7c52dac6101568954e7448a49202.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Imtoken</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Infinito Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/infinito-wallet-68da061495160c96f4bcb5e70e612fdd.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Infinito Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Infinity Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/infinity-wallet-48e78bc97f96bad14ee6b781423a69ea.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Infinity Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Keyringpro Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/keyringpro-830b2c0ee1db401dd64c2899eaf2adb3.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Keyringpro Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Ownbit Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/ownbit-0b6b21e40acf2fa0f85d2c5ce38c4c51.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Ownbit Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Safepal Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/safepal-1022b40e2ea3a4a6bb19cf6ff28d8b92.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Safepal Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Sparkpoint Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/sparkpoint-5c0d3a4ab850a7ee2a3f03e215b68f2c.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Sparkpoint Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Wallet io"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img
              src="/crypto/wallet-io-198f396de22fe25eb370f46544abe69d.png"
              alt=""
              style="height: 40px"
            />
            <h6 class="mb-0 ms-3 text-black fw-bold">Wallet io</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Exodus"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/663d4d628d86346.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Exodus</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Phantom Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/663d4fa275e7092.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Phantom Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Pulse Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/6653d1624108370.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Pulse Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Bitcoin.com Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/6653d348af40a62.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Bitcoin.com Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Rainbow"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/6653d3b4b8c4c11.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Rainbow</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Uniswap Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/6653d3c3657f595.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Uniswap Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Robinhood Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/665ff162dddfd78.png" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Robinhood Wallet</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-12 g-3">
          <a
            href="/account/user/importwallet?wallet=Other Wallet"
            class="rounded-3 p-3 d-flex align-items-center"
            style="background-color: white"
          >
            <img src="/crypto/otherssss.jpg" alt="" style="height: 40px" />
            <h6 class="mb-0 ms-3 text-black fw-bold">Other Wallet</h6>
          </a>
        </div>
      </div>
      <!--End row-->
    </div>
  </div>
</div>

<br /><br /><br /><br />

<%-include('../partials/footer')%>
