






<%-include("../partials/header.ejs") %>
         
        
<div class="main-content side-content pt-0">
    <div class="main-container container-fluid">
        <div class="inner-body">
            <div id="mobileshow" class="see"></div>
            <div class="sees hide-mobile"></div>
            <!--Row-->
            <div class="row row-sm">
                <div class="col-md-12 col-lg-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <p class="main-content-label mb-0 fw-bold fs-7">Get Subscription</p>
                            <p class="mb-3">Tap on any of the Plans below to purchase a plan.</p>
                            <h5 class="mb-0 fw-bold">Current Subscription: <span
                                    style="color:#007bd8" class="text-uppercase">BASIC </span></h5>
                            <p class="mb-0 d-none balance">0 
       </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm">
        
        
                       
               

                     
   

                          

    

                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
                    <div class="card card-pricing custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mb-0">
                                    <h5 class="fs-16 tx-medium text-uppercase">
                                        ELITE</h5>
                                    <h2 class="mt-2 mb-0 text-light">15000 <span
                                            class="text-muted fs-12">/ Minimum</span></h2>
                                    <p class="text-dark mt-3 mb-0 fs-14">High ROI After Trading Session</p>
                                </div>
                                <div class="text-end ms-auto">
                                    <span class="badge bg-primary-light">Try It Now</span>
                                </div>
                            </div>
                            <hr class="message-inner-separator">
                            <div class="pricingContent1">
                                <ul>
                                    <li class="pt-1"><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">360 Days</span>
                                        Duration</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">55%</span> ROI</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">24/7</span> Support</li>
                                </ul>
                                <form action="#" method="post">
                                    <input type="hidden" value="ELITE"
                                        name="sub_name">
                                    <div class="form-group mb-2">
                                        <label for="" class="mb-0">Amount</label>
                                        <input type="number" value="" name="paket" class="form-control subscribe_amount"
                                            placeholder="15000">
                                    </div>
                                    <p class="mb-0 text-center text-danger error"></p>
                                    <button type="submit" class="btn ripple btn-primary-transparent btn-block button_subscribe">Subscribe
                                        to Plan <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
 
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
                    <div class="card card-pricing custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mb-0">
                                    <h5 class="fs-16 tx-medium text-uppercase">
                                        PLATINUM </h5>
                                    <h2 class="mt-2 mb-0 text-light">$10000 <span
                                            class="text-muted fs-12">/ Minimum</span></h2>
                                    <p class="text-dark mt-3 mb-0 fs-14">High ROI After Trading Session</p>
                                </div>
                                <div class="text-end ms-auto">
                                    <span class="badge bg-primary-light">Try It Now</span>
                                </div>
                            </div>
                            <hr class="message-inner-separator">
                            <div class="pricingContent1">
                                <ul>
                                    <li class="pt-1"><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">180 Days</span>
                                        Duration</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">45%</span> ROI</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">24/7</span> Support</li>
                                </ul>
                                <form action="#" method="post">
                                    <input type="hidden" value="PLATINUM "
                                        name="sub_name">
                                    <div class="form-group mb-2">
                                        <label for="" class="mb-0">Amount</label>
                                        <input type="number" value="" name="paket" class="form-control subscribe_amount"
                                            placeholder="10000">
                                    </div>
                                    <p class="mb-0 text-center text-danger error"></p>
                                    <button type="submit" class="btn ripple btn-primary-transparent btn-block button_subscribe">Subscribe
                                        to Plan <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
                    <div class="card card-pricing custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mb-0">
                                    <h5 class="fs-16 tx-medium text-uppercase">
                                        PREMIUM</h5>
                                    <h2 class="mt-2 mb-0 text-light">$6000 <span
                                            class="text-muted fs-12">/ Minimum</span></h2>
                                    <p class="text-dark mt-3 mb-0 fs-14">High ROI After Trading Session</p>
                                </div>
                                <div class="text-end ms-auto">
                                    <span class="badge bg-primary-light">Try It Now</span>
                                </div>
                            </div>
                            <hr class="message-inner-separator">
                            <div class="pricingContent1">
                                <ul>
                                    <li class="pt-1"><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">90 Days</span>
                                        Duration</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">35%</span> ROI</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">24/7</span> Support</li>
                                </ul>
                                <form action="#" method="post">
                                    <input type="hidden" value="PREMIUM"
                                        name="sub_name">
                                    <div class="form-group mb-2">
                                        <label for="" class="mb-0">Amount</label>
                                        <input type="number" value="" name="paket" class="form-control subscribe_amount"
                                            placeholder="6000">
                                    </div>
                                    <p class="mb-0 text-center text-danger error"></p>
                                    <button type="submit" class="btn ripple btn-primary-transparent btn-block button_subscribe">Subscribe
                                        to Plan <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
                    <div class="card card-pricing custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mb-0">
                                    <h5 class="fs-16 tx-medium text-uppercase">
                                        STANDARD</h5>
                                    <h2 class="mt-2 mb-0 text-light">$3000 <span
                                            class="text-muted fs-12">/ Minimum</span></h2>
                                    <p class="text-dark mt-3 mb-0 fs-14">High ROI After Trading Session</p>
                                </div>
                                <div class="text-end ms-auto">
                                    <span class="badge bg-primary-light">Try It Now</span>
                                </div>
                            </div>
                            <hr class="message-inner-separator">
                            <div class="pricingContent1">
                                <ul>
                                    <li class="pt-1"><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">30 Days</span>
                                        Duration</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">25%</span> ROI</li>
                                    <li><i
                                            class="fa fa-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                            class="tx-semibold">24/7</span> Support</li>
                                </ul>
                                <form action="#" method="post">
                                    <input type="hidden" value="STANDARD"
                                        name="sub_name">
                                    <div class="form-group mb-2">
                                        <label for="" class="mb-0">Amount</label>
                                        <input type="number" value="" name="paket" class="form-control subscribe_amount"
                                            placeholder="3000">
                                    </div>
                                    <p class="mb-0 text-center text-danger error"></p>
                                    <button type="submit" class="btn ripple btn-primary-transparent btn-block button_subscribe">Subscribe
                                        to Plan <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                                    </button>
                                    
                                    
                                    
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
        </div>
    </div>
</div>
<!-- End Main Content-->

                                           

<br><br><br>


   

 <!-- Main Footer -->
 
  <%-include('../partials/footer')%>